#!/usr/sbin/nft -f
# {{ ansible_managed }}
# rules for ipsec traffic using classic xfrm translation

flush ruleset

table ip filter {
	chain INPUT {
		type filter hook input priority filter; policy accept;
	}

	chain FORWARD {
		type filter hook forward priority filter; policy drop;
		meta ipsec exists oifname == "{{ epdg_tun_interface }}" counter accept comment "All decoded ipsec traffic forwarded to osmo-epdg";
		iifname "gtp0" meta mark {{ epdg_gtp_traffic_fwmark }} accept comment "Accept all traffic from the gtp interface";
	}

	chain OUTPUT {
		type filter hook output priority filter; policy accept;
	}
}
table ip mangle {
	chain OUTPUT {
		type route hook output priority mangle; policy accept;
	}

	chain PREROUTING {
		type filter hook prerouting priority mangle; policy accept;
		meta ipsec exists meta mark set {{ epdg_ipsec_traffic_fwmark }} comment "Route incoming ipsec decoded pkts to osmo-epdg";
		meta iifname "{{ epdg_tun_interface }}" meta mark set {{ epdg_gtp_traffic_fwmark }} comment "Route incoming gtp decoded pkts from osmo-epdg";
	}

	chain POSTROUTING {
		type filter hook postrouting priority mangle; policy accept;
	}

	chain INPUT {
		type filter hook input priority mangle; policy accept;
	}

	chain FORWARD {
		type filter hook forward priority mangle; policy accept;
	}
}
